*,
*::after,
*::before {

  box-sizing: inherit;

}

html {

  box-sizing: border-box;

}

body {

  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: normal;
  color: #000000;

  background-color: #ffffff;

}

a {

  text-decoration: none;
  color: #ffffff;

}

h1 {

  margin: 0;
  margin-top: 3px;
  padding-left: 53px;
  width: 278px;

  align-self: flex-end;

  font-family: "Cuprum", Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  line-height: 23px;
  color: #ee3643;

}

.btn {

  padding-top: 14px;
  padding-bottom: 15px;

}

.visually-hidden {

  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;

}

.wrapper {

  margin: 0 auto;
  width: 960px;
  padding-left: 10px;
  padding-right: 10px;

}

.page-header {

  background-color: #f4f7f9;
  padding-bottom: 60px;

}

.page-header > div {

  background-color: #293449;

}

.page-header .wrapper {

  display: flex;
  justify-content: space-between;

}

.top-header.wrapper {

  background-color: inherit;

}

.info-header.wrapper {

  background-color: inherit;

}

.page-header .extra {

  display: flex;

}

.logo a {

  display: inline-block;

  padding-top: 13px;
  padding-right: 56px;
  padding-bottom: 2px;
  padding-left: 55px;

  background-color: #ee3643;
  box-shadow: 0px 5px 0 0 #b52933;

}

.logo a:hover {

  background-color: #ca2c37;
  box-shadow: 0px 5px 0 0 #9a212a;

}

.logo a:active {

  background-color: #ee3643;
  box-shadow: 0px 5px 0 0 #b52933;

}

.search-form {

  display: flex;
  justify-content: flex-start;

  width: 270px;

}

.search-form form {

  width: 100%;

}

.search-form [type="search"] {

  border:0;

  width: 100%;

  padding-top: 11px;
  padding-right: 30px;
  padding-bottom: 11px;
  padding-left: 48px;

  font-family: "Cuprum", Helvetica, sans-serif;
  font-size: 17px;
  line-height: 12px;
  color: #ffffff;

  background-color: transparent;
  background-image: url("../img/icon-search.png");
  background-repeat: no-repeat;
  background-position: 17px 12px;
  background-size: 17px 17px;

}

.search-form [type="search"]::placeholder {

  color: #ffffff;

}

.search-form [type="search"]:hover {

  background-color: #212a3a;
  background-image: url("../img/icon-search-hover.png");

}

.search-form [type="search"]:focus {

  background-color: #ffffff;
  background-image: url("../img/icon-search-focus.png");

  color: #000000;

}

.extra a {

  display: inline-block;

  min-width: 150px;

  padding-top: 12px;
  padding-bottom: 12px;

  font-family: "Cuprum", Helvetica, sans-serif;
  font-size: 17px;
  line-height: 15px;

  background-color: transparent;
}

.extra a:hover {

  background-color: #212a3a;

}

.extra a:active {

  color: rgba(255, 255, 255, 0.5);
  background-color: #161d29;

}

.extra a:nth-child(1) {

  padding-right: 27px;
  padding-left: 44px;

  background-image: url("../img/icon-bookmark.png");
  background-repeat: no-repeat;
  background-position: 17px 12px;

}

.extra a:nth-child(1):hover {

  background-image: url("../img/icon-bookmark-hover.png");

}

.extra a:nth-child(1):active {

  background-image: url("../img/icon-bookmark-active.png");

}

.extra a:nth-child(2) {

  padding-right: 25px;
  padding-left: 50px;

  background-image: url("../img/cart-icon.png");
  background-repeat: no-repeat;
  background-position: 15px 12px;

}

.extra a:nth-child(2):hover {

  background-image: url("../img/cart-icon-hover.png");
  background-color: #212a3a;

}

.extra a:nth-child(2):active {

  background-image: url("../img/cart-icon-active.png");
  background-color: #161d29;

}

.catalog-page a:nth-child(2) {

  background-color: #ee3643;

}

.extra a:nth-child(3) {

  padding-right: 22px;
  padding-left: 20px;

  background-color: #63a63e;

}

.extra a:nth-child(3):hover {

  background-color: #5fbb2d;

}

.extra a:nth-child(3):active {

  background-color: #518534;

}

.page-header section {

  padding-top: 46px;
  padding-bottom: 46px;
  display: flex;
  justify-content: space-between;

}

.contact-block {

  width: 270px;

}

.login-block {

  width: 300px;

}

.contact-block > div {

  width: 270px;

  padding-top: 13px;
  /* padding-right: 15px; */
  padding-bottom: 11px;
  padding-left: 72px;

  margin-left: -4px;
  margin-top: 1px;

  border: 3px solid #ffffff;

  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 12px 10px;

  font-family: "Cuprum", Helvetica, sans-serif;
  font-size: 21px;
  line-height: 15px;
  color: #ee3643;

}

.contact-block p {

  margin: 0;
  margin-top: 10px;

  font-family: "Cuprum", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 13px;
  text-align: center;
  color: #32425c;

}

.login-block {

  font-family: "Cuprum", Helvetica, sans-serif;

}

.login-block ul {

  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: 0;
  margin-left: 13px;

  list-style: none;

}

.login-block .btn {

  display: inline-block;

  font-size: 21px;
  line-height: 16px;
  color: #000000;

  background-color: #ffffff;
}

.login-block .btn:hover {

  color: #ee3643;

}

.login-block .btn:active {

  color: #b2b2b2;

}

.login-block .login-btn {

  padding-right: 27px;
  padding-left: 48px;

  background-image: url("../img/icon-login.png");
  background-repeat: no-repeat;
  background-position: 14px center;

}

.login-block .login-btn:hover {

  background-image: url("../img/icon-login-hover.png");

}

.login-block .login-btn:active {

  background-image: url("../img/icon-login.png");

}

.login-block .registration-btn {

  padding-right: 25px;
  padding-left: 25px;

}

.login-block .profile-btn {

  width: 100%;

  padding-right: 55px;
  /* padding-bottom: 16px; */
  padding-left: 46px;

  background-image: url("../img/icon-user.png"),
                    url("../img/icon-logout.png");
  background-repeat: no-repeat,
                     no-repeat;
  background-size: 20px 18px,
                   21px 17px;
  background-position: left 13px top 13px,
                       right 13px bottom 14px;

}

.login-block .profile-btn:hover {

  background-image: url("../img/icon-user-hover.png"),
                    url("../img/icon-logout-hover.png");

}

.login-block .profile-btn:active {

  background-image: url("../img/icon-user.png"),
                    url("../img/icon-logout.png");

}

ul.additional {

  justify-content: flex-start;
  margin-top: 10px;

}

.additional li {

  display: flex;
  align-items: flex-end;

}

.additional li:nth-child(1) {

  margin-right: 13px;

}

.additional li:nth-child(1)::after {

  content: "";

  display: inline-block;

  width: 4px;
  height: 4px;

  margin-left: 15px;
  margin-bottom: 5px;

  background-color: #32425c;
  border-radius: 50%;

}

.additional a {

  font-family: "Cuprum", Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 14px;
  color: #32425c;
  text-decoration: underline;

}

.additional a:hover {

  color: #ee3643;

}

.additional a:active {

  color: #b2b2b2;

}

.page-header nav {

  width: 960px;
  /* padding-left: 0;
  padding-right: 0; */
  /* margin-bottom: 60px; */

  font-family: "Cuprum", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 17px;


  background-color: inherit;
  box-shadow: 0px 60px 0 0 #f4f7f9;

}

nav.wrapper {

  background-color: #f4f7f9;

}

nav ul {

  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  width: 940px;
  /* padding-left: 10px;
  padding-right: 10px; */

  background-color: #32425c;
  box-shadow: inset 0px -5px 0 0 #293449;

  list-style: none;

}
nav li {

  display: flex;
  flex-grow: 1;

  text-align: center;

}
nav a {

  flex-grow: 1;

  /* min-width: 120px; */

  padding-top: 22px;
  padding-bottom: 23px;

  line-height: 15px;

}

nav a:hover {

  background-color: #293449;

}

nav a:active {

  color: rgba(255, 255, 255, 0.5);

}

.company-info-block {

  display: flex;
  justify-content: space-between;

  padding-top: 80px;
  padding-bottom: 85px;

}

main {

  margin-top: 59px;

}

.feature-block {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.feature {

  width: 300px;

  padding-top: 26px;
  padding-right: 30px;
  padding-bottom: 22px;
  padding-left: 23px;

  font-family: "Cuprum", Helvetica, sans-serif;
  color: #ffffff;

  background-repeat: no-repeat;
  background-position: right center;
  background-origin: content-box;

}

.feature-block h3 {

  margin: 0;
  word-break: break-all;

  font-size: 24px;
  line-height: 18px;

}

.feature-block .slider {

  width: 620px;
  margin-top: 20px;
  position: relative;

}

.feature a {

  display: inline-block;
  width: 135px;

  margin-top: 19px;
  margin-left: 2px;

  padding-top: 12px;
  padding-bottom: 12px;

  border-radius: 5px;

  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;


  background-color: rgba(0, 0, 0, 0.1);

}

.material-block {

  background-color: #ffbf47;
  background-image: url("../img/icon-1.svg");

}

.tools-block {

  background-color: #3bbce3;
  background-image: url("../img/icon-2.svg");

}

.tech-block {

  background-color: #dc91d8;
  background-image: url("../img/icon-3.svg");

}
.sale-block,
.delivery-block {

  margin-top: 20px;

}

.sale-block {

  background-color: #8ed78f;
  background-image: url("../img/icon-4.svg");

}

.delivery-block {

  background-color: #ffc047;
  background-image: url("../img/icon-5.svg");

}

.slider h4,
.slider p,
.slider a {

  margin: 0;

  padding-top: 27px;
  padding-right: 20px;
  padding-left: 24px;

  font-family: "Cuprum", Helvetica, sans-serif;
  color: #ffffff;

  /* background-color: rgba(0, 0, 0, 0.1); */

}

.slider h4{

  font-size: 36px;
  line-height: 30px;
  text-transform: uppercase;

}

.slider p {

  padding-top: 8px;
  padding-bottom: 23px;

  font-size: 18px;
  line-height: 17px;

}

.slider a {

  display: inline-block;

  margin-top: 101px;
  margin-left: 24px;
  margin-bottom: 22px;

  padding-top: 14px;
  padding-right: 45px;
  padding-bottom: 14px;
  padding-left: 49px;

  font-size: 14px;
  line-height: 10px;
  text-transform: uppercase;

  border-radius: 5px;
  background-color: #ee3643;

}

.slider button {

  display: none;

}

/* .slide-1 {

  background-image: url("../img/slider-image.jpg");
  background-repeat: no-repeat;

}

.slide-2 {

  display: none;
  background-image: url("../img/slide-image.jpg");
  background-repeat: no-repeat;

} */

.slide-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 36px;
  z-index: 100;

  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls label {
  position: relative;

  display: inline-block;
  width: 10px;
  height: 10px;
  padding: 6px;

  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";

  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;

  width: 10px;
  height: 10px;

  background: #ffffff;

  border-radius: 50%;
}

.slider-item {

  display: none;

}

.slider-item:nth-child(1) {

  background-image: url("../img/slider-image.jpg");
  background-repeat: no-repeat;

}

.slider-item:nth-child(2) {

  background-image: url("../img/slide-image.jpg");
  background-repeat: no-repeat;

}

#slide-1:checked ~ .slide-list .slider-item:nth-child(1) {

  display: block;

}

#slide-2:checked ~ .slide-list .slider-item:nth-child(2) {
  display: block;
}

#slide-1:checked ~ .slider-controls .slider-controls-item--1::before,
#slide-2:checked ~ .slider-controls .slider-controls-item--2::before {

  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 6px;
  height: 6px;
  margin: 4px;
  background-color: #ee3643;
  border-radius: 50%;

}

.popular-goods {

  margin-top: 53px;

}

.title-popular,
.title-brand {

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 25px;
  padding-right: 24px;
  padding-bottom: 26px;
  padding-left: 35px;

  background-color: #f9f5f0;

}

.title-popular h2,
.title-brand h2 {

  margin: 0;

  font-family: "Cuprum", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 21px;
  text-transform: uppercase;
  color: #32425c;

}

.title-popular a,
.title-brand a {

  display: inline-block;

  padding-top: 14px;
  padding-right: 55px;
  padding-bottom: 14px;
  padding-left: 55px;

  font-family: "Cuprum", Helvetica, sans-serif;
  font-size: 14px;
  line-height: 10px;
  text-transform: uppercase;

  border-radius: 5px;
  background-color: #ee3643;

}

.brand-block {

  margin-top: 20px;

}

.brand-list {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0;
  padding: 0;

  list-style: none;

}

.brand-list li {

  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 20px;

  width: 220px;
  min-height: 145px;

  border: solid 1px #eaeaea;

}

.service-block {

  margin-top: 65px;

  padding-top: 68px;

  background-color: #f4f7f9;

}

.service-block p {

  margin: 0;

}

.service-slider {

  display: flex;

  margin-top: 2px;

}

.service-list {

  flex-grow: 1;

  margin: 0;
  padding: 0;

  list-style: none;

}

.service-controls {

  display: flex;
  flex-direction: column;
  justify-content: center;

  position: relative;

  width: 240px;

}

.service-controls::before {

  content: "";

  display: block;

  position: absolute;

  width: 10px;
  height: 279px;

  right: 0;

  background-image: url("../img/shadow.png");
  background-repeat: no-repeat;
  background-position: right center;
}

.service-controls label {

  padding-top: 21px;
  padding-left: 23px;
  padding-bottom: 21px;

  font-family: "Cuprum", Helvetica, sans-serif;
  font-size: 21px;
  color: #ffffff;
  line-height: 19px;

  background-color: #32425c;

  box-shadow: 0px 1px 0 0 #293449,
              inset 0px 1px 0 0 #405069;

  cursor: pointer;

}

#service-1:checked ~ .service-controls .service-control:nth-child(1),
#service-2:checked ~ .service-controls .service-control:nth-child(2),
#service-3:checked ~ .service-controls .service-control:nth-child(3) {

  color: #32425c;

  box-shadow: 0px 1px 0 0 #ffffff,
              inset 0px 1px 0 0 #ffffff;
  background-color: #ffffff;

}

.service-slide {

  display: none;

  padding-left: 80px;

  min-height: 345px;

  background-position: right bottom;

  padding-top: 63px;

}

.service-slide:nth-child(1) {

  background-image: url("../img/delivery.png");
  background-repeat: no-repeat;

}

.service-slide:nth-child(2) {

  background-image: url("../img/guarantee.png");
  background-repeat: no-repeat;

}

.service-slide:nth-child(3) {

  background-image: url("../img/credit.png");
  background-repeat: no-repeat;

}

#service-1:checked ~ .service-list .service-slide:nth-child(1) {

  display: block;

}

#service-2:checked ~ .service-list .service-slide:nth-child(2) {

  display: block;

}

#service-3:checked ~ .service-list .service-slide:nth-child(3) {

  display: block;

}


.service-block h2,
.service-block h3 {

  margin: 0;

  font-family: "Cuprum", Helvetica, sans-serif;
  font-size: 30px;
  line-height: 21px;
  text-transform: uppercase;
  color: #000;

}

.service-block h2 {

  margin-bottom: 38px;

}

.service-block h3 {

  font-size: 36px;
  line-height: 30px;
  color: #32425c;

}

.service-block > p {

  line-height: 19px;

}

.service-slide:nth-child(1) p {

  width: 275px;

  margin-top: 34px;

}

.service-slide:nth-child(2) p {

  width: 360px;

}

.service-slide:nth-child(2) p:first-of-type {

  margin-top: 38px;

}

.service-slide:nth-child(3) p {

  width: 280px;

  margin-top: 34px;

}

.service-slide a {

  display: inline-block;

  margin-top: 31px;

  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 44px;
  padding-right: 45px;

  border-radius: 5px;

  font-family: "Cuprum", Helvetica, sans-serif;
  font-size: 14px;
  line-height: 10px;
  font-weight: 400;
  text-transform: uppercase;

  background-color: #ff5357;

}

.info-block {

width: 540px;

}

.map-block {

  width: 300px;

}

.info-block h2,
.map-block h2 {

  margin: 0;
  margin-bottom: 37px;

  font-family: "Cuprum", Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;

}

.info-block ul {

  margin: 0;
  padding: 0;
  padding-left: 36px;

  list-style: none;

}

.info-block li {

  position: relative;

  margin-bottom: 24px;

  font-family: "Cuprum", Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;

}

.info-block li:last-of-type {

  margin-bottom: 0;

}

.info-block li::before {

  content: "";

  display: inline-block;

  position: absolute;

  width: 25px;
  height: 2px;

  top: 8px;
  left: -36px;


  background-color: #ee3643;



}

.info-block a,
.map-block a,
.map-block button {

  display: inline-block;

  margin-top: 40px;

  padding-top: 14px;
  padding-bottom: 12px;

  border-radius: 5px;

  font-family: "Cuprum", Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;

  background-color: #ee3643;

  cursor: pointer;

}

.info-block a {

  padding-right: 41px;
  padding-left: 40px;

}

.map-block p {

width: 180px;

}

.map-block a,
.map-block button {

  padding-right: 59px;
  padding-left: 63px;

}

.map-block img {

  cursor: pointer;

}

.map-block button {

  border: 0;

  color: #ffffff;

}

footer {

  background-color: #293449;

}

.footer-nav {

  background-color: #32425c;

}

.footer-nav .wrapper {

  display: flex;
  justify-content: space-between;
  padding-bottom: 45px;
  background-color: inherit;

}

.footer-logo a {

  padding-top: 20px;
  padding-right: 41px;
  padding-bottom: 25px;
  padding-left: 41px;

  max-height: 68px;

}

.footer-logo p {

  margin: 0;
  margin-top: 32px;

  width: 323px;

  font-family: "Cuprum", Helvetica, sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 24px;
  color: #f3f7f9;

}

.footer-nav ul {

  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;

}

.primary-menu,
.additional-menu {

  display: flex;
  width: 550px;

}

.footer-nav ul.primary-menu {

  margin-top: 42px;
  margin-bottom: 32px;

}

.footer-nav ul.additional-menu {

  padding-left: 25px;

}

.primary-menu a,
.additional-menu a {

  font-family: "Cuprum", Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #f1f5f7;

}

.additional-menu a {

  color: #ffd180;

}

.primary-menu a:hover,
.additional-menu a:hover {

  text-decoration: underline;

}

.primary-menu a:active,
.additional-menu a:active {

  color: rgba(241, 245, 247, 0.5);
  text-decoration: none;

}

.additional-menu a:active {

  color: rgba(255, 209, 128, 0.5);

}

.footer-info {

  background-color: inherit;

}


.footer-info .wrapper {

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 35px;
  padding-bottom: 28px;
  background-color: inherit;

}


.copyright {

  margin: 0;

  width: 230px;

  font-family: "Cuprum", Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #ffffff;

}

.social-link {

  display: flex;
  justify-content: center;

  margin: 0;
  padding: 0;
  margin-left: 40px;

  width: 150px;

  list-style: none;

}

.social-link a {

  display: inline-block;

  width: 42px;
  height: 42px;

  background-color: #212a3a;
  background-repeat: no-repeat;
  background-position: center center;

  border-radius: 50%;

}

.social-link li {

  display: flex;
  align-items: center;
  justify-content: center;

  margin-right: 3px;

}

.social-vk a {

  background-image: url("../img/icon-vk.svg");

}

.social-fb a {

  background-image: url("../img/icon-fb.svg");

}

.social-insta a {

  background-image: url("../img/icon-insta.svg");

}

.extra-link {

  display: flex;
  justify-content: space-between;
  width: 300px;

  padding-right: 15px;

  font-family: "Cuprum", Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #ffffff;

}

.extra-link p {

  margin: 0;
  width: 136px;

}

.extra-link p:nth-child(2) {

 width: 97px;

}

.extra-link a {

  color: #ffd180;

}

.extra-link a:hover {

  text-decoration: underline;

}

.extra-link a:active {

  color: #ee3643;

}

.breadcrumb-list {

  display: flex;
  justify-content: flex-start;

  margin: 0;
  padding: 0;
  padding-top: 18px;
  padding-bottom: 18px;

  list-style: none;

}

.breadcrumb-list li {


}

.breadcrumb-list li::after {

  content: " ";

  display: inline-block;

  margin-right: 15px;
  margin-left: 19px;

  width: 8px;
  height: 12px;

  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: center center;

}

.breadcrumb-list li:last-child::after {

  display: none;

}

.breadcrumb-list .first-page {

  margin-left: 0;

}

.first-page a {

  display: inline-block;

  width: 14px;
  height: 12px;

  background-image: url("../img/icon-home.svg");
  background-repeat: no-repeat;
  background-position: center center;

}

.breadcrumb-list a {

  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 18px;
  color: #000000;

}

.page-title {

  margin: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;

  font-family: "Cuprum", Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;

  background-color: #f2f6f8;
  color: #32425c;

}

.main-content {

  display: flex;
  justify-content: space-between;
  margin-top: 20px;

}

.filter-block {

  width: 220px;

}

.catalog {

  width: 700px;

}

.filter-block h3 {

  margin: 0;
  margin-top: 25px;
  margin-bottom: 22px;

  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 30px;
  background-color: #ffffff;

}

.filter-range h3 {

  margin-top: 20px;
  margin-bottom: 20px;

}

.filter-block fieldset {

  border: 0;

  padding: 0;
  margin: 0;
}

.filter-block p {

  display:flex;
  margin: 0;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 18px;

  font-size: 13px;
  font-weight: 400;
  line-height: 10px;
  text-transform: uppercase;

  background-color: #f7f3ec;

  border-radius: 5px;

}

.range-controls {

  position: relative;

  height: 41px;

  margin-bottom: 15px;

  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: #f7f3ec;

  border-radius: 5px;
}

.range-controls .scale {

  height: 2px;

  background: #d7dcde;

}

.range-controls .bar {

  width: 70%;
  height: 2px;

  background: #00ca74;

}

.range-controls .toggle {

  position: absolute;

  top: 31px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;

}

.range-controls .toggle::after {

  content: "";

  position: absolute;

  width: 3px;
  height: 3px;

  background-color: #d7dcde;

  border-radius: 50%;

  top: -1px;
  left: -1px;

}

.range-controls .toggle-min {

  left: 20px;

}

.range-controls .toggle-max {

  left: 150px;

}

.price-controls {

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 17px;

}

.price-controls input {

  display: inline-block;

  width: 95px;

  padding: 8px 10px;

  font-size: 17px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;

  border: none;
  border-radius: 5px;
  background: #f7f3ec;
}

.max-price {
  text-align: right;
}

.filter-block label {

  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;

}

.filter-block ul {

  margin: 0;
  padding: 0;

  list-style: none;

}

.developer,
.power-type {

  margin-top: 25px;

  border-top: 1px solid #e7e7e7;

}

.power-type {

  margin-bottom: 75px;

}

.developer li,
.power-type li {

  display: flex;

  min-height: 27px;

  margin-bottom: 17px;

}

.developer li:last-of-type,
.power-type li:last-of-type {

  margin-bottom: 0;

}

.developer label,
.power-type label {

  display: flex;
  align-items: center;

  cursor: pointer;

}

.developer svg,
.power-type svg {

  margin-right: 12px;

}

input[type="checkbox"]:disabled + label svg,
input[type="radio"]:disabled + label svg {

  opacity: 0.3;
  fill: #b5b5b5;

}

input[type="checkbox"]:disabled + label,
input[type="radio"]:disabled + label {

  color: #e7e7e7;

}

label:hover  .checkbox-off,
label:hover  .checkbox-on,
label:hover  .radio-off,
label:hover  .radio-on  {

  fill: #b5b5b5;

}

.checkbox-on,
.checkbox-off,
.radio-on,
.radio-off {

  fill: #c5c5c5;

}

.checkbox-on,
.radio-on {

  display: none;

}

input[type="checkbox"]:checked + label .checkbox-off,
input[type="radio"]:checked + label .radio-off {

  display:none;

}

input[type="checkbox"]:checked + label .checkbox-on,
input[type="radio"]:checked + label .radio-on {

  display: block;

}


/* .developer label::after,
.power-type label::after {

  content: "";

  position: absolute;

  left: 0;
  top: 2px;

  display: inline-block;

  width: 27px;
  height: 23px;

}

.power-type label::after {

  width: 25px;
  height: 25px;

  border: 4px solid #c5c5c5;

  border-radius: 50%;

}

.power-type input:checked ~ label::before {

  position: absolute;

  left: 8px;
  top: 10px;

  content: "";

  width: 9px;
  height: 9px;

  background-color: #c5c5c5;

  border-radius: 50%;

} */

.btn-filter {

  padding-top: 15px;
  padding-right: 39px;
  padding-bottom: 14px;
  padding-left: 39px;

  background-color: #ffffff;

  border: 1px solid #e5e5e5;
  border-radius: 5px;

  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;

}

.sorting-block {

display: flex;
justify-content: space-between;
margin: 0;
padding-top: 10px;
padding-bottom: 10px;

line-height: 18px;

background-color: #f7f3ec;

}

.sorting-block p {

margin: 0;

text-transform: uppercase;

}

.sorting-block ul {

  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;

}

.sorting-block a {

  text-transform: uppercase;
  color: #000000;

}

/* .catalog-list {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0;
  margin-top: 20px;
  padding: 0;

  list-style: none;

}

.catalog-item {

  display: flex;

  width: 220px;
  margin-bottom: 20px;

}

.goods-card {

  border: 1px solid #e5e5e5;

}

.goods-card h3 {

  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

}

.option-button {

  margin: 0;
  padding: 0;

  list-style: none;

}

.btn-buy,
.btn-bookmarks {

  display: inline-block;

  border-radius: 5px;

  font-family: "Cuprum", Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;

}

.btn-buy {

  padding-right: 45px;
  padding-left: 49px;

  background-color: #63a63e;
  box-shadow: inset 0px -3px 0 0 #367315;
  color: #ffffff;

}

.btn-bookmarks {

  padding-right: 32px;
  padding-left: 36px;
  padding-bottom: 12px;

  border: solid 3px #63a63e;

  background-color: transparent;
  color: #000000;
}

.goods-card .old-price,
.goods-card .new-price {

  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;

}

.goods-card .old-price {

  color: #999999;
  text-decoration: line-through;

}

.goods-card .new-price {

  background-color: #ee3643;
  color: #ffffff;

} */


.catalog-items {

  margin: 0 auto;
  margin-top: 20px;

}

.catalog-items .row {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.catalog-item {

  position: relative;
  display: inline-block;
  width: 220px;
  /* margin-right: 20px; */
  margin-bottom: 20px;

  line-height: 20px;
  font-weight: bold;
  text-align: center;

  border: 1px solid #ccc;

}

.catalog-item:nth-child(3n) {

  margin-right: 0;

}

.catalog-items {

  font-size: 0;

}

.catalog-item {

  font-size: 16px;

}

.catalog-item:hover {

  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);

}

.catalog-item .flag {

  position: absolute;
  top: -1px;
  right: -1px;

  width: 60px;
  height: 60px;

  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;

}

.catalog-item .flag-new {
  background: url("../img/new-flag.png") no-repeat 0 0;
}

.catalog-item .actions {

  position: absolute;
  top: 0;
  left: 0;

  width: 218px;
  height: 168px;
  padding: 40px 0;

  background-color: rgba(255,255,255,0.9);
  z-index: 10;

}

.catalog-item .actions .buy,
.catalog-item .actions .bookmark {

  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;

  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius:3px;

  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;

}

.catalog-item .actions .bookmark {

  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;

}

.catalog-item .actions {

  display: none;

}

.catalog-item:hover .actions {

  display: block;

}

.catalog-item .actions {

  display: none;

}

.catalog-item .image {

  width: 218px;
  height: 168px;

}

.catalog-item .image img {

  max-width: 100%;

}

.catalog-item .title {

  min-height: 40px;
  padding: 0 25px;
  margin-top: 10px;
  margin-bottom: 15px;

}

.catalog-item .discount {

  min-height: 20px;
  margin-top: 15px;
  margin-bottom: 10px;

  color: #999;
  text-decoration: line-through;

}

.catalog-item .price {

  position: relative;
  width: 141px;
  margin: 10px auto;
  margin-bottom: 20px;
  padding: 10px 30px;

  color: white;
  background: #ee3643;
  border-radius: 3px;

}

.catalog-item .price:after {

  content: "";

  position: absolute;
  top: 0;
  right: -20px;

  width: 0;
  height: 0;

  border: 20px solid white;
  border-left-color: #ee3643;

}


.pagination {

  display: flex;

  margin: 0;
  margin-top: 32px;
  margin-bottom: 60px;
  padding: 0;

  list-style: none;

}

.pagination a {

 display: flex;

 min-width: 38px;

 margin-right: 10px;

 padding-top: 13px;
 padding-right: 14px;
 padding-bottom: 13px;
 padding-left: 14px;

 justify-content: center;
 align-items: center;

 font-size: 13px;
 line-height: 10px;
 color: #000000;

 border: 1px solid #e5e5e5;
 border-radius: 5px;

}

.current a {

  color: #ffffff;
  background-color: #ee3643;
  border-color: #ee3643;

}

.next-page a {

  width: 140px;
  text-transform: uppercase;

}


.about-block {

  background-color: #f4f7f9;

}

.about-block .wrapper {

  padding-top: 67px;
  padding-bottom: 67px;

  background-color: inherit;

}

.about-block h2,
.about-block p {

  margin: 0;

}

.about-block h2 {

  margin-bottom: 34px;

  font-family: "Cuprum", Helvetica, sans-serif;
  font-size: 30px;
  line-height: 21px;
  text-transform: uppercase;

}

.about-block p {

  width: 938px;

}

.map-popup,
.contact-popup,
.basket-popup {

  display: none;

}

.popup {

  position: fixed;

  z-index: 1000;

}

.map-popup {

  /* display: block; */

  top: 150px;
  left: 50%;

  margin-left: -470px;

  width: 940px;
  height: 446px;

  box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);

}

.popup-close {

  position: absolute;

  top: 9px;
  right: 9px;

  width: 21px;
  height: 21px;

  border: 0;

  cursor: pointer;

  background-color: transparent;

}

.contact-popup .popup-close {

  top: 16px;

}

.popup-close::before,
.popup-close::after {

  content: "";

  position: absolute;

  top: 9px;
  left: 1px;

  width: 19px;
  height: 3px;

  background-color: #ee3643;

}

.popup-close::before {

  transform: rotate(45deg);

}

.popup-close::after {

  transform: rotate(-45deg);

}

.contact-popup {

  /* display: block; */


  top: 160px;
  left: 50%;

  width: 620px;
  height: 430px;

  margin-left: -300px;

  padding-top: 55px;
  padding-right: 80px;
  padding-bottom: 37px;
  padding-left: 80px;

  background-color: #ffffff;

  box-shadow: inset 0 7px 0 0 #ff5358,
              inset 0 -112px 0 0 #f4f4f4,
              0px 20px 40px 0 rgba(0, 0, 0, 0.75);

}

.contact-popup div {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-bottom: 16px;

}

.contact-popup label {

  width: 220px;

  font-family: "Cuprum", Helvetica, sans-serif;
  font-size: 18px;
  line-height: 18px;

}

.contact-popup input,
.contact-popup textarea {

  border: solid 2px #dee3e4;

  border-radius: 3px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: #a9a9a9;


}

.contact-popup input {

  width: 100%;

  margin-top: 10px;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;

}

.contact-popup input::placeholder {

  color: #a9a9a9;

}

.contact-popup textarea {

  width: 100%;
  max-height: 114px;

  margin-top: 5px;

  margin-bottom: 59px;

  padding-top: 13px;
  padding-right: 16px;
  padding-bottom: 13px;
  padding-left: 16px;

  resize: none;

}

.contact-popup .send-btn {

  display: inline-block;

  width: 100%;

  /* margin-top: 40px; */

  padding-top: 14px;
  padding-bottom: 12px;

  border: 0;
  border-radius: 5px;

  color: #ffffff;

  font-family: "Cuprum", Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;

  background-color: #ee3643;

  cursor: pointer;

}

.show {

  display: block;

}

.hide {

  display: none;

}
